@import url('meta.less');
@import url('calendar.less');

@{NS}.datepicker {
    position: relative;
    min-width: @min_input_width;
    display: inline-block;
    .input {
        input[type='text'] {
            width: 100% !important;
        }
        i:after {
            content: 'date_range';
            .input_icon;
        }
    }
    >._picker {
        position: absolute;
        z-index: 1000;
        left: 0;
        top: @padding * 4.2;
        .calendar {
            .top_angle;
            position: relative;
            border-radius: 0 0 @radius @radius;
            >._label:before {
                content: '';
                position: absolute;
                top: -14px;
                left: 15px;
                border: 8px solid;
                z-index: 10;
                border-color: transparent transparent @blue transparent;
            }
            ._label {
                border-radius: 0;
            } 
        }
    }
}
