@import url('meta');
@import url('media');

@__form_label_width: 130px;

.__makeFields(@n, @i: 1) when (@i =< @n) {
    .fields-@{i} {
        .clearfix;
        font-size: 0;
        position: relative;
        margin: 0 @padding * -1 0;
        >.field {
            padding: 0 @padding;
            font-size: @line_height;
            width: 100% / @i;
            display: inline-block;
            float: left;
        }
    }
    .fields {
        >.field-@{i} {
            font-size: @line_height;
            padding: 0 @padding;
            display: inline-block;
            float: left;
            width: (@i / @column_count) * 100%;
        }
    }
    .__makeFields(@n, (@i + 1));
}

.__inlineField(@n, @i: 1) when (@i =< @n) {
    >.fields-@{i} {
        margin-left: @__form_label_width - @padding;
    }
    .__inlineField(@n, (@i + 1));
}

.__mobileFields(@n, @i: 1) when (@i =< @n) {
    .fields-@{i} {
        margin: @__margin_bottom * -0.5 0 !important;
        >.field {
            width: 100%;
            padding: @__margin_bottom * 0.5 0;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .fields {
        >.field-@{i} {
            width: 100%;
            padding: @__margin_bottom * 0.5 0;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .__mobileFields(@n, (@i + 1));
}

@{NS}.form {
    @__margin_bottom: @padding * 1.6;
    padding: @padding * 2;
    width: 100%;
    .clearfix;
    .field {
        line-height: @__margin_bottom * 2 + 4;
        margin-bottom: @__margin_bottom;
        input[type="text"], 
        input[type="number"], 
        input[type="url"], 
        input[type="tel"], 
        input[type="password"], 
        input[type="email"], 
        input[type="date"], 
        input[type="datetime-local"], 
        input[type="time"], textarea {
            width: 100%;
        }
        .field {
            margin-bottom: 0;
        }
        
        .__makeFields(16);
        .fields {
            .clearfix;
            position: relative;
            font-size: 0;
            margin: 0 -1 * @padding 0;
            >.field {
                padding: 0 @padding;
                margin-bottom: @__margin_bottom;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        input[type="text"], 
        input[type="number"], 
        input[type="url"], 
        input[type="tel"], 
        input[type="password"], 
        input[type="email"], 
        input[type="date"], 
        input[type="datetime-local"], 
        input[type="time"], textarea, select {
            width: 100%;
        }
        &.inline {
            >* {
                display: inline-block;
                margin: 0 @padding;
            }
            input, select {
                width: @__form_label_width - @padding * 3;
                display: inline;
                &.max {
                    width: @__form_label_width - @padding;
                }
                &.mini {
                    width: @padding * 4;
                    text-align: center;
                }
            }
            >:first-child {
                margin-left: 0;
            }
            >:last-child {
                margin-right: 0;
            }
        }
    }

    >.field {
        >label:not(@{NS}) {
            padding: 0 0 @padding * 4/10;
            background: initial;
            text-shadow: none;
            border-radius: 0;
            margin: 0;
            line-height: @line_height;
            font-size: @line_height;
            color: @deep_gray;
            word-wrap: break-word;
            &:nth-child(1) {
                display: block;
            }
        }
    }

    &.inline {
        &.trim>.field {
            >label:nth-child(1) {
                text-align: right;
            }
        }
        >.field {
            position: relative;
            >.field {
                margin-left: @__form_label_width;
            }
            >label:nth-child(1) {
                width: @__form_label_width - @padding;
                vertical-align: top;
                padding: @padding 0;
                padding-right: @padding;
                float: left;
            }
            .__inlineField(16);
            >.fields {
                margin-left: @__form_label_width - @padding;
            }
        }

        >.action {
            margin-left: @__form_label_width;
        }
    }
    &.basic {
        padding: 0;
    }
}

@media @mobile_view {
    @__margin_bottom: @padding * 1.6;
    @{NS}.form {
        padding: @padding * .5;
        .field {
            line-height: @padding;
        }
    }
    @{NS}.inline.form>.field>label:nth-child(1) {
        width: auto;
        float: none;
        text-align: initial !important;
    }
    @{NS}.form>.field {
        margin-bottom: @__margin_bottom * .5;
        >.fields {
            margin: @__margin_bottom * -0.5 0 !important;
        }
        >.field, >.fields {
            margin-left: 0 !important;
        }
        .inline.field {
            input, select {
                width: @padding * 3;
            }
        }
        .__mobileFields(16);
    }

}