@import url('../less/dot.less');
@import url('./highlight.less');

.__column(@n, @i: 1) when (@i =< @n) {
    .column-@{i} {
      position: relative;
      background: @tiny_gray;
      border: 1px solid @light_gray;  
    }
 .__column(@n, (@i + 1));
}

.main-aside {
    >a {
        display: block;
        padding: 5px;
        &.active {
            .blue_link;
        }
    }
}

/*basic page*/

.basic-page {
    .color-item {
        padding: 10px;
    }
}

/* carousel page */

.carousel {
    width: 300px;
    margin: auto;
}

/*pin page*/

.pin-page {
    min-height: 2000px;
}

.pin-card {
    .bordered;
    background-color: @tiny_gray;
    display: block;
    width: 300px;
    padding: 10px 20px;
}

/*slide menu page*/
.slide-menu ._content {
    padding: @gap;
}

/*button page*/
.button-example {
    .button {
        margin-bottom: @padding;
    }
}

/*grid page*/
.grid-example {
    .__column(16);
    .column {
        background: @tiny_gray;
        border: 1px solid @light_gray;
    }
    .basic .column {
        background: initial;
        border: initial;
    }
}

/*label page*/
.label-example {
    .label {
        margin-bottom: @padding;
    }
}